<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=LAPTOP-S1S3B4AK\SQLEXPRESS;Initial Catalog=minimart;Integrated Security=True" />
    
  </connectionStrings>
</configuration>